{% extends 'base.html' %}

{% block nav %}


<!-- Nav Item - Pages Collapse Menu -->
<div class="sidebar-heading">
    스터디 그룹
</div>

<li class="nav-item">
    <a class="nav-link" href="/group/{{group.pk}}/">
        <i class="fas fa-home"></i>
        <span>HOME</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/group/{{group.pk}}/notice">
        <i class="fas fa-exclamation"></i>
        <span>공지사항</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/group/{{group.pk}}/book">
        <i class="fas fa-book"></i>
        <span>학습노트</span></a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>참여 인원</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <ul>
                <li class="collapse-item">박세환</li>
                <li class="collapse-item">박진수</li>
                <li class="collapse-item">황성준</li>
            </ul>
        </div>
    </div>
</li>

<hr class="sidebar-divider d-none d-md-block">

<div class="sidebar-heading">
    대화방
    <button type="button" style="float: right;background-color: transparent !important;border-color: transparent;border: none;color: #FFFFFF;">
        <span aria-hidden="true" data-toggle="modal" data-target="#addRoom" >+</span>
    </button>
</div>
{% for r in rooms %}
<li class="nav-item">
    <a class="nav-link" href="/group/{{group.pk}}/chat/{{r.pk}}">
        <i class="fas fa-comments"></i>
        <span>{{r.title}}</span>
    </a>
</li>
{% endfor %}
<!--<li class="nav-item">-->
    <!--<a class="nav-link" href="/group/{{group.pk}}/chat">-->
        <!--<i class="fas fa-comments"></i>-->
        <!--<span>대화방</span></a>-->
<!--</li>-->

<!--<li class="nav-item">-->
    <!--<div id="Timer" class="pd-1"></div>-->
    <!--<button type="button" id="QButton" class="btn btn-success container" data-toggle="modal" data-target="#creatModal">질문</button>-->
<!--</li>-->
<br>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

<div class="modal fade"  id="creatModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">질문 올리기</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">제목</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">내용</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div id="submitGrup">
                    <input type="file" name="profile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">추가</button>
                <button type="button" class="btn btn-default" id="closeModalBtn" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade"  id="addRoom"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'group:createRoom' group.pk%}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">대화방 생성</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">제목</span>
                            </div>
                            <input name="{{ room_form.title.html_name }}" required="required" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">추가</button>
                        <button type="button" class="btn btn-default" id="closeModalBtn" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}