{% extends 'group_control/base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block content %}
<style>
  .item {
    display: none;
  }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<div class="container">
  <!-- 여기에 학습노트 적을수 있는 페이지연결 -->
  <a href="/group/{{group.pk}}/book/create"><i class="fas fa-plus fa-2x mt-2 mr-2" style="float: right; cursor: pointer;"></i></a>
  <h1>학습노트</h1>

  <div class="searchbox">
    <div class="header">
      <input onkeyup="filter()" type="text" id="value" placeholder="Type to Search">
    </div>
    <div id='listContainer' class="container">
      <div class="item" id='cloneItem'>
        <span class="name" id='listName'></span>
      </div>
    </div>
  </div>
  <hr width="100%">

  {% for subject, book in book_dict.items %}
  <h1>{{subject}}</h1>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    {% for b in book %}
    <div class="col-xl-3 col-md-3 mb-4">
      <div class="card border-left-primary shadow h-100">
        <a href="/group/{{group.pk}}/book/content/{{b.pk}}">
          <!-- 여기에 적히 학습노트 볼수있는 페이지 연결 -->
          <div class="card-body" style="padding: 5px;">
            <i class="fas fa-book fa-4x"></i>
            <div class="dataName" id="label" style="float: right;">{{b.title}}</div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>

<script>
  var item = document.getElementById("cloneItem");
  var data = document.getElementsByClassName('dataName');
  var listContainer = document.getElementById('listContainer')
  var inputName = document.getElementById('listName');
  inputName.innerHTML = data[0].innerHTML
  for (var i = 0; i < data.length - 1; i++) {
    var cloneItem = item.cloneNode();
    cloneItem.id = i + 1;
    listContainer.appendChild(cloneItem);
    var tampItem = document.getElementById(i + 1);
    var cloneName = inputName.cloneNode();
    cloneName.id = (i + 1) + "name"
    tampItem.appendChild(cloneName);
    var tampName = document.getElementById((i + 1) + 'name');
    tampName.innerHTML = data[i + 1].innerHTML;
    console.log(i);
  }
   function filter() {
    var value, Text, name, itemArray;
    value = document.getElementById("value").value.toUpperCase();
    name = document.getElementsByClassName('name');
    itemArray = document.getElementsByClassName('item');
    console.log(name[0]);
    if (value == "") {
      for (var i = 0; i < name.length; i++) {
        itemArray[i].style.display = "none";
      }
    }
    else {
      for (var i = 0; i < name.length; i++) {
        Text = name[i].innerHTML;
        console.log(Text);
        if (Text.indexOf(value) > -1) {
          itemArray[i].style.display = "flex";
        } else {
          itemArray[i].style.display = "none";
        }
      }
    }
    }
</script>
{% endblock %}