{% extends 'group_control/base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block content %}
<script>

</script>
<div class="container-fluid">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" style="margin-bottom: 20px;">제목</span>
    </div>
    <input class="form-control" aria-label="With textarea"></textarea>
  </div>
  <div class="input-group" >
    <div class="input-group-prepend">
      <span class="input-group-text">내용</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" style="height: 750px;"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" style="float: right;">제출</button>
</div>
{% endblock %}
