{% extends 'group_control/base.html' %}
{% load static %}
{% block head %}
<title>Book</title>
<style>
  pre {
    background-color: whitesmoke;
  }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <button class="btn btn-primary mr-3" id='markDownBtn' style="float: right;" onclick="markDown()">MarkDown</button>
  <button class="btn btn-primary mr-3" id='normalBtn' style="float: right; background-color: red;" onclick="origin()">일반</button>
  <div id='head'>
    <H1>{{book.title}}</H1>
    <hr style="width: 100%;">
  </div>
  <div id='contents'>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    var contents = document.getElementById("contents");
    var str = "{{book.content|linebreaksbr}}";
    var button = false;
    contents.innerHTML = str;

    console.log(str);
    var originBtn = document.getElementById('normalBtn');
    var mkdown = document.getElementById('markDownBtn');
    function origin() {
      contents.innerHTML = str;
      mkdown.style.backgroundColor = '';
      originBtn.style.backgroundColor = 'red';
      button = false;
    }
    function markDown() {
      if (button == false) {
        //처음 누를 경우
        var a = contents.innerText;
        contents.innerHTML = marked(a);
        mkdown.style.backgroundColor = 'red';
        originBtn.style.backgroundColor = '';
        button = true;
      }


    }


  </script>


</div>
{% endblock %}