{% extends 'group_control/base.html' %}
{% load static %}
{% block head %}
<!-- head 영역 -->
  <title>Chat</title>
  <style>
    #chat::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  </style>
<!-- /head 영역 -->
{% endblock %}

{% block content %}
<!-- content 영역 -->
<div class="container-fluid" style="background-image: url({% static 'BG_img.jpg' %});">

  <!-- Page Heading -->

  <div id="chat" style="height: 700px; overflow-y: scroll;" >
    <a href="https://hangouts.google.com/?hl=ko" target="blank"><i class="fas fa-phone fa-2x mt-3" style="float: right; cursor: pointer; color: white;"alt="통화하기"></i></a>
    <i data-toggle="modal" data-target="#creatModal" class="fas fa-upload fa-2x mr-3 mt-3" style="float: right; cursor:pointer; color: white;"alt="질문올리기"></i>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">진수</h5>
          <p class="card-text">다들 대가리 박아</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">성준</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">진수</h5>
          <p class="card-text">그냥 대가리 박아</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">성준</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4 mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">진수</h5>
          <p class="card-text">박아주라</p>
         </div>
       </div>
    </div>

    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">성준</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">세환</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">세환</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>  <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">세환</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>

 </div>
 <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">내용</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
  <button>전송</button>
</div>
</div>
<div class="modal fade"  id="creatModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">질문 올리기</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">제목</span>
          </div>
          <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>




        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">내용</span>
          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div id="submitGrup">
          <input type="file" name="profile">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">추가</button>
        <button type="button" class="btn btn-default" id="closeModalBtn" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>
<!-- /content 영역 -->
{% endblock %}
