{% extends 'group_control/base.html' %}
{% load static %}

{% block head %}
<!-- head 영역 -->
  <title>Chat</title>
  <style>
    #chat::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  </style>
<!-- /head 영역 -->
{% endblock %}

{% block content %}
<!-- content 영역 -->
<div class="container-fluid">

  <!-- Page Heading -->
  <script>
    document.getElementById('content-wrapper').setAttribute('style',"background-image: url({% static 'BG_img.jpg' %});")
  </script>
  <div id="chat" style="height: 700px; overflow-y: scroll;" >
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">진수</h5>
          <p class="card-text">다들 대가리 박아</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">성준</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">진수</h5>
          <p class="card-text">그냥 대가리 박아</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">성준</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4 mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">진수</h5>
          <p class="card-text">박아주라</p>
         </div>
       </div>
    </div>

    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">성준</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">세환</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>
    <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">세환</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>  <div class="col-4  mt-3 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">세환</h5>
          <p class="card-text">왜요?</p>
         </div>
       </div>
    </div>

 </div>
 <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">내용</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
  <button>전송</button>
</div>
</div>

<!-- /content 영역 -->
{% endblock %}
