{% extends 'group_control/base.html' %}
{% load static %}
{% block head %}
<title>Chat</title>
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock %}

{% block content %}
<textarea id="chat-log" cols="100" rows="20">
    {{room.title}}
</textarea>
<input required="required" type="text" class="form-control" id="chat-message-input">
<label class="btn btn-primary" id="chat-submit" type="submit">전송</label>
<script>
    var room = '{{group.pk}}'+'_'+'{{room.pk}}';
    var user = '{{user.username}}';
    var chat_url = "{% url 'group:chat' group.pk room.pk %}";
    var upload_url = "{% url 'group:upload' group.pk room.pk %}";
    var chat_log = document.getElementById("chat-log");

    {% for c in chat %}
    chat_log.innerHTML += "{{c.author}}" +" : " + "{{c.message}}" + "\n";
        {% if c.photo != "undefined" %}
            chat_log.innerHTML += "=> {{c.photo}}" + "\n";
        {% endif %}
    {% endfor %}
</script>
<script src="{% static 'js/websock.js' %}?ver=1"></script>
<script src="{% static 'js/chat_ajax.js' %}?ver=1"></script>
{% endblock %}