{% extends 'group_control/base.html' %}
{% load static %}

{% block head %}
<!-- head 영역 -->
  <title>Chat</title>
<!-- /head 영역 -->

{% endblock %}

{% block content %}
<!-- content 영역 -->
  <div class="container-fluid" style="height: 80%;">

          <!-- Page Heading -->
          <table class="mt-3" border="1px" style="text-align: center; background-color: white;">
            <tr>
              <td style="width: 10%;">전체</td>
                {% for j in join %}
              <td style="width: 10%;"> {{j.user.username}}</td>
                {% endfor %}
            </tr>
          </table>
          <div id="chat" style="height : 100%; " >
              <div class="chat-space">
            <div class="col-4  mt-3 mb-1">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">진수</h5>
                  <p class="card-text">다들 대가리 박아</p>
                 </div>
               </div>
            </div>
              </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">내용</span>
            </div>
            <input class="txt form-control" aria-label="With textarea" value="input chatting~!">
            <button class="input-chat">전송</button>
          </div>
         </div>
        </div>
<!-- /content 영역 -->

<!--<script src="{% static 'js/chat.js' %}"></script>-->
{% endblock %}
