{% extends 'group_control/base.html' %}

{% block head %}
<!-- head 영역 -->
  <title>Group</title>
  <script language="javascript">
    var today = new Date(); // 오늘 날짜
    var date = new Date();

    function build()
    {
        var nMonth = new Date(today.getFullYear(), today.getMonth(), 1); //현재달의 첫째 날
        var lastDate = new Date(today.getFullYear(), today.getMonth() + 1, 0); //현재 달의 마지막 날
        var tbcal = document.getElementById("calendar"); // 테이블 달력을 만들 테이블
        var yearmonth = document.getElementById("today"); //  년도와 월 출력할곳
        yearmonth.innerHTML = today.getFullYear() + "년 "+ (today.getMonth() + 1) + "월"; //년도와 월 출력
        // 남은 테이블 줄 삭제
        while (tbcal.rows.length > 2)
        {
            tbcal.deleteRow(tbcal.rows.length - 1);
        }
        var row = null;
        row = tbcal.insertRow();
        var cnt = 0;

        // 1일 시작칸 찾기
        for (i = 0; i < nMonth.getDay(); i++)
        {
            cell = row.insertCell();
            cnt = cnt + 1;
        }

        // 달력 출력
        for (i = 1; i <= lastDate.getDate(); i++) // 1일부터 마지막 일까지
        {
            cell = row.insertCell();
            cell.innerHTML = i;
            cnt = cnt + 1;
            if (cnt % 7 == 1) {//일요일 계산
                cell.innerHTML = "<font color=#FF9090>" + i//일요일에 색
            }
            if (cnt % 7 == 0) { // 1주일이 7일 이므로 토요일 계산
                cell.innerHTML = "<font color=#7ED5E4>" + i//토요일에 색
                row = calendar.insertRow();// 줄 추가
            }
            if(today.getFullYear()==date.getFullYear()&&today.getMonth()==date.getMonth()&&i==date.getDate())
            {
                cell.bgColor = "#BCF1B1"; //오늘날짜배경색
            }
        }
        while(cnt%7!=0){
            cell = row.insertCell();
            cell.innerHTML = "";
            cnt = cnt + 1;
            if (cnt % 7 == 1) {//일요일 계산
                cell.innerHTML = "";//일요일에 색
            }
            if (cnt % 7 == 0) { // 1주일이 7일 이므로 토요일 계산
                cell.innerHTML = "" ;//토요일에 색
                row = calendar.insertRow();// 줄 추가
            }
            if(today.getFullYear()==date.getFullYear()&&today.getMonth()==date.getMonth()&&i==date.getDate())
            {
                cell.bgColor = "#BCF1B1"; //오늘날짜배경색
            }

        }

    }
</script>
<!-- /head 영역 -->
{% endblock %}

{% block content %}
<!-- content 영역 -->
  <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{group.title}} 스터디 그룹</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">벌금</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">￦{{join.penalty}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">경험치</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">EXP {{join.exp}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">진행률</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">퀘스트</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{questCount}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">달력</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <table id ="calendar" border="1px" style=" width : 100%; height : 100%; text-align: center;">
                    <tr>
                      <td colspan="7" id="today">오늘날짜</td>
                    </tr>
                    <tr>
                      <td style="color: red;">일</td>
                      <td>월</td>
                      <td>화</td>
                      <td>수</td>
                      <td>목</td>
                      <td>금</td>
                      <td style="color : blue">토</td>
                    </tr>
                    <tbody id="tableBody">

                    </tbody>
                  </table>
                  <script>
                    build();
                  </script>
                </div>
              </div>
            </div>
            
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  
                  <h6 class="m-0 font-weight-bold text-primary">일정</h6>
                  <button type="button" ><span aria-hidden="true"data-toggle="modal" data-target="#addModal">+</span></button>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <ul class="list-group">
                    {% for sche in schedule %}
                    <li class="list-group-item">
                      <h3>{{sche.date | date:'Y-m-d'}}</h3>
                      <ul>
                        <li>{{sche.title}}</li>
                      </ul>
                    </li>
                    {% endfor %}
                    
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">



            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">퀘스트 목록</h6>
                </div>
                <div class="card-body">
                  <ul class="list-group" id="cautionList">
                    {% for q in quest %}
                    <li class="list-group-item" id="listItem">
                      <h4><a href="../showQuest">{{q.title}}</a></h4>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <!-- Color System -->
             
            </div>

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">순위</h6>
                </div>
                <div class="card-body">

                  <h4 class="small font-weight-bold">진수 <span class="float-right">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success " role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <h4 class="small font-weight-bold">세환 <span class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <h4 class="small font-weight-bold">성준 <span class="float-right">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>


                </div>
              </div>

              <!-- Color System -->
             
            </div>




            
            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">공지사항</h6>
                </div>
                <div class="card-body">
                  <ul class="list-group" id="cautionList">
                    {% for n in notice %}
                    <li class="list-group-item" id="listItem">
                      <h4><a href="./notice">{{n.title}}</a></h4>
                    </li>
                    {% endfor %}
                  </ul>
                  

                </div>
              </div>

              <!-- Approach -->
             
            </div>
          </div>

        </div>
<!-- /content 영역 -->

<!-- modal 영역 -->
  <div class="modal fade"  id="addModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" action="{% url 'group:createSche' group.pk%}">
          {% csrf_token %}
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">일정 추가</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>

        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">제목</span>
            </div>
            <input name="{{ sche_form.title.html_name }}" required="required" autofocus="autofocus" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">날짜</span>
            </div>
            <input name="{{ sche_form.date.html_name }}" required="required" autofocus="autofocus" type="date" class="form-control" placeholder="date input" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">시간</span>
            </div>
            <input name="{{ sche_form.time.html_name }}" required="required" autofocus="autofocus" type="time" class="form-control" placeholder="시간" aria-label="Username" aria-describedby="basic-addon1">
          </div>


          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">내용</span>
            </div>
            <input name="{{ sche_form.content.html_name }}" required="required" autofocus="autofocus" class="form-control" aria-label="With textarea">
          </div>
        </div>
        <div class="modal-footer">
          <!--<button type="submit" class="btn btn-primary" data-dismiss="modal">추가</button>-->
          <button type="submit" class="btn btn-primary">추가</button>
          <button type="button" class="btn btn-default" id="closeModalBtn" data-dismiss="modal">취소</button>
        </div>
          </form>
      </div>
    </div>
  </div>
<!-- /modal 영역 -->

{% endblock %}


