{% extends 'group_control/base.html' %}

{% block head %}
<title>New Post</title>
{% endblock %}

{% block content %}
<form action="{% url 'group:createPost' group.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid">
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="margin-bottom: 20px;">제목</span>
            </div>
            <input name="{{ form.title.html_name }}" class="form-control" aria-label="With textarea">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="margin-bottom: 20px;">주제</span>
            </div>
            <input name="{{ form.subject.html_name }}" class="form-control" aria-label="With textarea">
        </div>
        <div class="input-group">
            <input name="{{ form.photo.html_name }}" type="file" required="false" >
        </div>
        <div class="input-group" >
            <div class="input-group-prepend">
                <span class="input-group-text">내용</span>
            </div>
            <textarea name="{{ form.content.html_name }}" class="form-control" aria-label="With textarea" style="height: 300px;"></textarea>
        </div>
        <br>
        <div class="input-group" >
    <button type="submit" class="btn btn-primary" style="float: right;">제출</button>
     </div>
    </div>
</form>
{% endblock %}