{% extends 'group_control/base.html' %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block content %}
<a href="/group/{{group.pk}}/createPost" type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3" style="float: right;">
    <i class="fas fa-download fa-sm text-white-50"></i>업로드
</a>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">자료실</h1>

    {% for subject, post in post_dict.items %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{subject}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>주제</th>
                        <th>파일명</th>
                        <th>등록일</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for p in post %}
                    <tr id ="quest1" onclick="viewModal('{{p.title}}', '{{p.content}}', '{{p.photo}}')" style="cursor: pointer;">
                        <td>{{p.title}}</td>
                        <td>{{p.author}}</td>
                        <td>{{p.subject}}</td>
                        <td>{{p.photo}}</td>
                        <td>{{p.created_at | date:'Y-m-d'}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<!-- /.container-fluid -->


<div class="modal fade"  id="newListModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">게시물 생성</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">제목</span>
                        </div>
                        <input name="{{ form.title.html_name }}" type="text" class="form-control" placeholder="게시물 제목" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">내용</span>
                        </div>
                        <textarea name="{{ form.content.html_name }}" class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <br>
                    <div id="submitGrup">
                        <input name="{{ form.file.html_name }}" type="file" name="profile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">추가</button>
                    <button type="button" class="btn btn-default" id="closeModalBtn" data-dismiss="modal">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 모달 영역 -->
<div id="listDetailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">제목</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">내용</div>
            <a href="" class="modal-file" download></a>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeModalBtn" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<script>
function viewModal(title, content, file){
  var modal_id = document.getElementById("listDetailModal");
  var modal_title = modal_id.querySelector(".modal-title");
  var modal_body = modal_id.querySelector(".modal-body");
  var modal_file = modal_id.querySelector(".modal-file");
  var bol;

  modal_title.innerHTML = title;
  modal_body.innerHTML = content;

  if (file != "") {
    var file_path = '../../../media/' + file;
    var file_name = file_path.substr(file_path.lastIndexOf('/')+1);
    console.log(file_name);
    modal_file.href = file_path;
    modal_file.innerHTML = file_name;
  }

  $('#listDetailModal').modal('show');
}
</script>
{% endblock %}